body 
{
	font-family: Monospace;
	font-weight: bold;
	background-color: #ccccff;
	margin: 0px;
	overflow: hidden;
}
#notify {
   border: 1px solid #999;
   background: #f0f0f0;
}

.autocomplete-suggestions { border: 1px solid #999; background-color:rgba(255,255,255,0.85); cursor: default; overflow: auto; }
.autocomplete-selected { background: #f0f000; }
.autocomplete-suggestions strong { font-weight: normal; color: #cc5700; }